<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestione Admin</title>
    <style>
        .box {
            transition: box-shadow .3s;
        }

        .box:hover {
            box-shadow: 0 0 40px rgba(33, 33, 33, .2);
        }

        .card {
            border: solid !important;
            border-color: #b998b6 !important;
        }

        .dropdown-menu1 {
            background-color: #b998b6 !important;
        }

        .di1 {
            background-color: #b998b6 !important;
        }

        .di1:hover {
            background-color: #94408a5e !important;
        }

        .btn1 {
            border: solid;
            border-color: #b998b6 !important;
            border-radius: 3% !important;
            margin-top: 3% !important;
            background-color: #f49f0a !important;
        }

        .btn1:hover {
            background-color: #F08700 !important;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-sm" style="background-color: #f49f0a">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Dropdown link
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    
    <div class="col d-flex justify-content-center">
        <div class="card box" style=" width: 25rem; margin: 5%;">
            <div class="card-body" style="align-items: center;">
                <h1 class="card-title" style="text-align: center; font-size:xx-large;">Benvenuto Genoveffo!</h1>
                <hr>
                <div class="d-flex justify-content-center"
                    style="margin-right: 30%; margin-left: 30%; margin-top: 5%; margin-bottom: 10%;">

                    <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                        <div class="btn-group dropend" role="group">
                            <button type="button" class="btn btn-light dropdown-toggle btn1" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Gestione Utenti
                            </button>
                            <ul class="dropdown-menu dropdown-menu1">
                                <li><a class="dropdown-item  disabled dropdown-item1">Aggiungi</a></li>
                                <li><a class="dropdown-item di1" href="#">Cancella</a></li>
                                <li><a class="dropdown-item di1" href="#">Aggiorna</a></li>
                            </ul>
                        </div>
                        <div class="btn-group dropend" role="group">
                            <button type="button" class="btn btn-light dropdown-toggle btn1" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Gestione Ricette
                            </button>
                            <ul class="dropdown-menu dropdown-menu1">
                                <li><a class="dropdown-item di1" th:href="@{/admin/addricettainizio}">Aggiungi</a></li>
                                <li><a class="dropdown-item di1" th:href="@{/admin/deletericettainizio}">Cancella</a></li>
                                <li><a class="dropdown-item di1" th:href="@{/admin/updatericettainizio}">Aggiorna</a></li>
                            </ul>
                        </div>
                        <div class="btn-group dropend" role="group">
                            <button type="button" class="btn btn-light dropdown-toggle btn1" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Gestione Ingredienti
                            </button>
                            <ul class="dropdown-menu dropdown-menu1">
                                <li><a class="dropdown-item di1" th:href="@{/admin/addingredienteinizio}">Aggiungi</a></li>
                                <li><a class="dropdown-item di1" th:href="@{/admin/deleteingredienteinizio}">Cancella</a></li>
                                <li><a class="dropdown-item di1" th:href="@{/admin/updateingredienteinizio}">Aggiorna</a></li>
                            </ul>
                        </div>
                        <div class="btn-group dropend" role="group">
                            <button type="button" class="btn btn-light dropdown-toggle btn1" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Gestione Intolleranze
                            </button>
                            <ul class="dropdown-menu dropdown-menu1">
                                <li><a class="dropdown-item di1" th:href="@{/admin/addintolleranzainizio}">Aggiungi</a></li>
                                <li><a class="dropdown-item di1" th:href="@{/admin/deleteintolleranzainizio}">Cancella</a></li>
                                <li><a class="dropdown-item di1" th:href="@{/admin/updateintolleranzainizio}">Aggiorna</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-body-secondary d-flex justify-content-center">
                    <button type="button" class="btn btn-light btn1" th:href="@{/home}">
                        Home
                    </button>
                </div>
            </div>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>