 <div th:fragment="a-navbar">
        <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top" style="background-color: #f7f6f8 !important;">
        
            <div class="container-fluid">
                <a class="navbar-brand" ><a class="navbar-brand" th:href="@{/home}">
                        <img th:src="@{/images/logo3.png}" style="width:auto !important; height:60px !important" >
                    </a></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
                    style="background-color: #7c4dff !important;">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item" style="margin-right: 4rem !important;">
                            <a class="nav-link active link-underline link-underline-opacity-0 link" aria-current="page" th:href="@{/home}"
                                onMouseOver="this.style.color='#7c4dff'" onMouseOut="this.style.color='#000000'">Home</a>
                        </li>
                        <li class="nav-item dropdown" style="margin-right: 4rem !important;">
                            <a class="nav-link link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                                onMouseOver="this.style.color='#7c4dff'" onMouseOut="this.style.color='#000000'">
                                Categorie
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item  link" th:href="@{/antipasti}" onMouseOver="this.style.color='#7c4dff'"
                                        onMouseOut="this.style.color='#000000'">Antipasti</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item link" th:href="@{/primi}" onMouseOver="this.style.color='#7c4dff'"
                                        onMouseOut="this.style.color='#000000'">Primi</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item link" th:href="@{/secondi}" onMouseOver="this.style.color='#7c4dff'"
                                        onMouseOut="this.style.color='#000000'">Secondi</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item link" th:href="@{/dessert}" onMouseOver="this.style.color='#7c4dff'"
                                        onMouseOut="this.style.color='#000000'">Dessert</a></li>
                            </ul>
                        </li>
                        <li class="nav-item" style="margin-right: 4rem !important;">
                            <a class="nav-link link" th:href="@{/chisiamo}" onMouseOver="this.style.color='#7c4dff'"
                                onMouseOut="this.style.color='#000000'">Chi siamo</a>
                        </li>
                        <div class="d-flex justify-content-end">
                            <li class="nav-item dropdown mr-auto navEle">
                                <a th:href="@{/login}"><button type="button" class="btn btn-secondary button rounded-5"
                                    style="background-color: #7c4dff !important;">Accedi</button></a>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
        </div>